{{ if .ErrCode }}error[{{.ErrCode}}]: {{.ErrDesc}}{{ end }}
工作簿: {{.BookName}}
表单名: {{.SheetName}}
单元格位置: {{.DataCellPos}}
单元格的值: {{.DataCell}}
错误原因: {{.Reason}}
{{ if .Help }}修复建议: {{.Help}}{{ end }}
