{{ if .ErrCode }}error[{{.ErrCode}}]: {{.ErrDesc}}{{ end }}
Workbook: {{.BookName}}
Worksheet: {{.SheetName}}
DataCellPos: {{.DataCellPos}}
DataCell: {{.DataCell}}
Reason: {{.Reason}}
{{ if .Help }}Help: {{.Help}}{{ end }}
